In [3]:
#ranges

print(range(10))
print(type(range(10)))
print(list(range(10)))
print(list(range(15)))
print(list(range(7,15)))

#range (start, end, step)

print(list(range(11,27,3)))
print(list(range(59,27,-3)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[7, 8, 9, 10, 11, 12, 13, 14]
[11, 14, 17, 20, 23, 26]
[59, 56, 53, 50, 47, 44, 41, 38, 35, 32, 29]

In [5]:
# for loops
print('for loops starts from here')
print('__________________________')

for loops starts from here
__________________________

In [10]:
cities = ['Vilnius', 'London', 'Kaunas']

for city in cities:
    print(f'{city} is a beautiful city')
    print('this is still in loop')
print('end of loop')

Vilnius is a beautiful city
this is still in loop
London is a beautiful city
this is still in loop
Kaunas is a beautiful city
this is still in loop
end of loop

In [13]:
for number in range(4,23,7):
    print(number)
print('end of loop')

4
11
18
end of loop

In [14]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [17]:
result = 0
for number in range(51):
    result += number
    print(f'intermiadate result: {result}')
print(f'end of loop - result is {result}')

intermiadate result: 0
intermiadate result: 1
intermiadate result: 3
intermiadate result: 6
intermiadate result: 10
intermiadate result: 15
intermiadate result: 21
intermiadate result: 28
intermiadate result: 36
intermiadate result: 45
intermiadate result: 55
intermiadate result: 66
intermiadate result: 78
intermiadate result: 91
intermiadate result: 105
intermiadate result: 120
intermiadate result: 136
intermiadate result: 153
intermiadate result: 171
intermiadate result: 190
intermiadate result: 210
intermiadate result: 231
intermiadate result: 253
intermiadate result: 276
intermiadate result: 300
intermiadate result: 325
intermiadate result: 351
intermiadate result: 378
intermiadate result: 406
intermiadate result: 435
intermiadate result: 465
intermiadate result: 496
intermiadate result: 528
intermiadate result: 561
intermiadate result: 595
intermiadate result: 630
intermiadate result: 666
intermiadate result: 703
intermiadate result: 741
intermiadate result: 780
intermiadate result: 820
intermiadate result: 861
intermiadate result: 903
intermiadate result: 946
intermiadate result: 990
intermiadate result: 1035
intermiadate result: 1081
intermiadate result: 1128
intermiadate result: 1176
intermiadate result: 1225
intermiadate result: 1275
end of loop - result is 1275

In [22]:
userInput = input('enter a number:')
userNumber = int(userInput)
print(userNumber)

for number in range(1,11):
    print(f'{userNumber}x{number} = {userNumber * number}')

15
15x1 = 15
15x2 = 30
15x3 = 45
15x4 = 60
15x5 = 75
15x6 = 90
15x7 = 105
15x8 = 120
15x9 = 135
15x10 = 150

In [28]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
newList = [] #empty list

for day in days:
    #print(day)
    for hour in hours:
        #print(hour)
        #newList.append (f'{day} {hour}')
        newList.append((day, hour))
print(newList)
print(len(newList))

['Monday 10', 'Monday 11', 'Monday 12', 'Monday 13', 'Monday 14', 'Monday 15', 'Monday 16', 'Monday 17', 'Monday 18', 'Monday 19', 'Tuesday 10', 'Tuesday 11', 'Tuesday 12', 'Tuesday 13', 'Tuesday 14', 'Tuesday 15', 'Tuesday 16', 'Tuesday 17', 'Tuesday 18', 'Tuesday 19', 'Wednesday 10', 'Wednesday 11', 'Wednesday 12', 'Wednesday 13', 'Wednesday 14', 'Wednesday 15', 'Wednesday 16', 'Wednesday 17', 'Wednesday 18', 'Wednesday 19', 'Thursday 10', 'Thursday 11', 'Thursday 12', 'Thursday 13', 'Thursday 14', 'Thursday 15', 'Thursday 16', 'Thursday 17', 'Thursday 18', 'Thursday 19', 'Friday 10', 'Friday 11', 'Friday 12', 'Friday 13', 'Friday 14', 'Friday 15', 'Friday 16', 'Friday 17', 'Friday 18', 'Friday 19', 'Saturday 10', 'Saturday 11', 'Saturday 12', 'Saturday 13', 'Saturday 14', 'Saturday 15', 'Saturday 16', 'Saturday 17', 'Saturday 18', 'Saturday 19', 'Sunday 10', 'Sunday 11', 'Sunday 12', 'Sunday 13', 'Sunday 14', 'Sunday 15', 'Sunday 16', 'Sunday 17', 'Sunday 18', 'Sunday 19']
70

In [38]:
#if declaration

x = 5

if x >5:
    print('value is more than 5')
elif x ==5:
    print('value is equal to 5')
else:
    print('value is less than 5')

value is equal to 5